{% extends 'base.html' %}

{% block content %}



<!--================register_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Not new to our Shop?</h2>
                        <p>There are advances being made in science and technology
                            everyday, and a good example of this is the</p>
                        <a href="{% url 'login' %}" class="btn_3">Sign in</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome! <br>
                            Please register now</h3>
                        <form class="row contact_form" action="." method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="id_username" name="username" value="" maxlength="150"
                                    placeholder="Username">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="id_email" name="email" value="" maxlength="254"
                                        placeholder="Email">
                                </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="id_password" name="password" value=""
                                    placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="id_password2" name="password2" value=""
                                        placeholder="Confirm Password">
                                </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">
                                    register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
{% endblock content %}